.oferta {
    background-color: #00066a4e;
    padding: 2rem;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
}

.precio {
    font-size: 4rem;
    margin: 0;
}

@media (max-width: 800px){
    .oferta {
        max-width: 40rem;
        margin: 0 auto;
    }
}

@media (max-width: 600px){
    .oferta {
        max-width: 100%;
    }
}
 
