.oferta {
    background-color: #00466e;
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
}

.precio {
    font-size: 4rem;
    margin: 0;
}

@media (min-width: 600px) and (max-width: 800px){
    .oferta {
        background-color: yellow;
    }
}